<div class="author"> 
	<h4>Modulo 6 - Ejercicio P2P </h4>
	<p></br><strong>Autor: </strong> Dunja</br></br>
	Como no soy muy fotogénica ~_~</br>
	haz clic en mi foto </br>
	y verás algo relacionado con Quiz ^_°</p>
	<a target='_blank' href="https://www.youtube.com/watch?v=xWMJ99YRpkQ"><img src="images/yo_grupo-FM.png" />	</a> 	
</div>