/*----- Básico Smartphone ----------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }-->
body {
  background: #333;
}

#page-wrap:after {
  content: "Smartphone Layout";
}

h2 span, section h3 {
  display: none;
}

body {
  font-size: xx-large; 
}

footer, input {
  font-size: large;
}
