<form method="get" action="/quizes/answer">
  <p>Pregunta: <%= pregunta %></p>
  <input type="text" name="respuesta" placeholder="Aquí tu respuesta" />
  <input type="submit" value="Enviar">
</form>
  